.share-button {
  border-radius: 15px;
  border: 4px solid black;
  display: flex;
  flex-direction: column;

  height: 90px;
  padding: 0px;
  width: 250px;
}

.share-button:hover {
  background-color: orange;
  cursor: pointer;
}

.share-button:active {
  background-color: purple;
}

.url-container {
  height: 50%;
  border-bottom: black solid 4px;
  width: 100%;
  padding: 5px;
  padding-top: 7px;
  padding-bottom: 7px;  
}

.split-row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}

.button-label {
  padding: 10px;
  margin-right: 10%;
}

.link-icon {
  display: inline;
  border-left: black dashed 4px;
  padding: 10px;
}
