.script-container {
    border: black solid 3px;
    background-color: white;
    height: 88%;
    width: 95%; 
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.logo-and-prompt {
    display: flex;
    justify-content: space-between;
    height:45%;
    width:100%;
    align-items: center;
    }
  
.script-logo {
    height: 65%;
    width: 16%;
    border: 1px solid black;
    margin-left: 1.8%;
    margin-bottom: 6%;
}

.to-be-prescribed {
    margin-right:35%;
    margin-top: 7%;
    font-size: 135%;
}

.top-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 66%;
    height: 50%;
}

.bottom-container {
    border-top: black solid 2px;
    height:50%;
    align-content: center;
    width: 100%
}

.script-show-poster {
    height: 40%;
    width: 24%;
    border-radius: 10px;
    margin: 2% 5%;
}

.script-show-name {
    font-size: 400%;
}
  