.script-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 22vh;
    border: black solid 3px;
    background-color: white;
    height: 70vh;
    width: 40vw; 
    border-radius: 10px;
}

.top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}

.logo-and-prompt {
    display: flex;
    justify-content: space-between;
    height:45%;
    width:100%;
    align-items: center;
 }

 .logo-show-details-container {
    padding-left: 5%;
 }

.script-show-poster {
    height: 90%;
    margin: 3%;
    aspect-ratio: auto;
    border-radius: 10px;
}
  
.script-logo {
    height: 65%;
    width: 16%;
    border: 1px solid black;
    margin-left: 1.8%;
    margin-bottom: 6%;
}

.bottom-container {
    border-top: black solid 2px;
    height:50%;
    align-content: center;
    width: 100%
}

.script-show-name {
    font-size: 1.4em;
}
  
/* Small devices */

@media (max-width: 576px) {
    .script-container {
        width: 90vw;
        margin: 0;
    }

    .script-show-poster {
        height: 70%;
        margin: 15% 10px;
    }
}
