.show-details {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
  height: 55%;
  border-bottom: 2px solid black;
}

.prompt-show-name-container {
  margin-top: 10px;
  white-space: nowrap;
  text-align: left;
}

.prompt {
  white-space: nowrap;
}

.rx-logo {
  height: 60%;
  aspect-ratio: auto;
  border: 1px solid black;
  margin: 2%;
}

.prompt-show-name-image-container {
  display: flex;
}

.show-name {
  font-size: 1.5em;
  margin-top: 3%;
  width: 50%;
}

.show-poster {
  margin: auto;
  height: 90%;
  aspect-ratio: auto;
  border-radius: 10px;
}

/* Small devices */

@media (max-width: 576px) {
  .prompt-show-name-image-container {
    flex-direction: column;
  }

  .show-name {
    font-size: 1em;
  }

  .rx-logo {
    height: 30%;
  }

  .prompt {
    white-space: normal;
    margin: 0;
  }

  .show-poster {
    height: 70%;
  }
}