.show-details {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
  height: 55%;
}

.prompt-show-name-container {
  margin-top: 10px;
  white-space: wrap;
  text-align: left;
  max-width: 50%;
}

.prompt {
  white-space: nowrap;
}

.rx-logo {
  height: 30%;
  aspect-ratio: auto;
  margin: 2%;
}

.logo-img {
  height: 100px;
}

.prompt-show-name-image-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.show-name {
  font-size: 1.5em;

}

.show-poster {
  margin: auto;
  align-self: flex-end;
  height: 80%;
  aspect-ratio: auto;
  border-radius: 10px;
}

/* Small devices */

@media (max-width: 576px) {


  .prompt-show-name-container {
    text-align: center;
  }

  .show-name {
    font-size: 1em;
  }

  .rx-logo {
    max-height: 20%;
  }

  .prompt {
    white-space: normal;
    margin: 0;
  }

  .show-poster {
    margin: 0 0 20px 0;
    align-self: center;
    width: 50%;
    margin-right: 10px;
  }

  .poster-img{
    width: 100%;
  }

}