.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.prescription-preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  width: 700px;
  margin-top: 20vh;
}

.prescription-preview {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;
}

.prescription-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 25%;
}

.make-new-script {
  margin-top: 10px;
  padding: 8px 10px;
  border-radius: 30px;
  cursor: pointer;
  background-color: white;
  border: 3px solid black;
  transition: all 0.2s ease-in-out;
}

.make-new-script:hover {
  background-color: #ef23b5;
}

/* Small devices */
@media (max-width: 576px) {
  .home-page {
    flex-direction: column;
    margin: 0;
  }

  .prescription-preview-container {
    margin: 0 0 20px 0;
    width: 90vw;
    order: 2;
  }

  .prescription-preview {
    width: 100%;
  }

  .prescription-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .prescription-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 82%;
    width: 45%;
  }

  .make-new-script {
    height: 8%;
    width: 50%;
  }
}
