.instructions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  width: 25%;
  margin: 10% 0% 0% 5%;
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;
}

.instructions {
  padding: 5px;
}

/* Small devices */

@media (max-width: 576px) {
  h1 {
    font-size: 1.3em;
  }
}