.header {
  position: absolute;
  display: flex;
  justify-content: space-around;
  height: 100px;
  width: 100%;
  padding-top: 10px;
  margin-bottom: 5vh;
}

.title-logo-link {
  width: 16%;
}

.title-logo {
  height: 100%;
} 

.title-logo:hover {
  transform: scale(1.05) rotate(-3deg) 
}

.logo {
  height: 100%;
}

@media (max-width: 1200px) { 
  .header {
    position: relative;
    width: 100vw;
    height: 17vh;
    margin: 0;
  }

  .title-logo-link {
    width: 50%;
  }

  .title-logo {
    height: 80%;
  }

  .logo {
    height: 80%;
  }
}
