.header {
  position: absolute;
  display: flex;
  height: 180px;
  padding-top: 10px;
  margin-bottom: 5vh;
}

.title-logo {
  align-self: flex-start; 
  height: 100%;
  margin: 0 10vw 0 -30px;
} 

.title-logo:hover {
  transform: scale(1.05) rotate(-3deg)
}

@media (max-width: 576px) { 
  .header {
    position: relative;
    width: 100vw;
    height: 17vh;
    margin: 0;
  }

  .title-logo {
    margin: 0;
    width: 50%;
  }

  .logo {
    height: 80%;
  }
}
